* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  text-align: center;
}

.section-title {
  margin: 20px auto 20px auto;
  padding: 10px;
  width: 250px;
  background-color: #4d4d4d;
  color: #f5f5f5;
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 300px;
  margin: 20px auto;
  padding: 10px;
  border: 1px black solid;
  border-radius: 5px;
}

.btn {
  margin: 3px;
  padding: 2px;
  text-decoration: none;
  background-color: #4d4d4d;
  color: #f5f5f5;
  border-radius: 5px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #000;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #000;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: #000;
  border-radius: 50%;
}

.line {
  height: 50px;
  width: 10px;
  background-color: #000;
}

#protective-shield {
  display: none;
  transform: translate(-30px, -55px);
  position: relative;
  z-index: -2;
  background-color: rgba(0, 0, 255, .80);
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

#cross-one {
  transform: translate(83px, 0);
  height: 30px;
  width: 5px;
  background-color: rgb( 0, 255, 0);
}

#cross-two {
  transform: translate(70px, -18px);
  height: 5px;
  width: 30px;
  background-color: rgb( 0, 255, 0);
}

#healing-animation {
  display: none;
}

#tail {
  transform: translate(30px, 0);
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #f10;
	border-bottom: 25px solid transparent;
}

#fireball-ani {
  transform: translate(30px, -25px);
  background-color: #f10;
  border: 1px solid #ff0
}

#hand {
  display: none;
}

#skeleBod {
  transform: translate(20px, 0);
}

#hero-side {
  float: left;
  height: 50%;
  width: 50%;
}

#enemy-side {
  float: right;
  height: 50%;
  width: 50%;
}

#narration {
  /* position: absolute;
  bottom: 30%; */
  width: 700px;
  height: auto;
}

#gen-question, #gen-response {
  width: 200px;
  height: 100px;
  background: #333;
  color: #f5f5f5;
  margin: 15px;
  border-radius: 5px;
}

#user-submit {
  margin: 3px;
  padding: 2px;
  text-decoration: none;
  background-color: #4d4d4d;
  color: #fff;
  border-radius: 5px;
}

#exp-bar {
  width: 100%;
  background-color: #333;
  border-radius: 5px;
}

#exp-prog {
  height: 10px;
  border-radius: 5px;
}



/* Orb Health Display 
#orbCutout{
  position:absolute;
  width:120px; 
  height:120px;
  margin:0 auto;
  overflow:hidden;
}

#orbCutout:after{
  content:'';
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius:50%;
  width:100px; 
  height:100px;
  box-shadow: 0px 0px 0px 2000px #000;
}

#orbLevel {
  position: absolute;
  z-index: -1;
  background-color: #bb0a1e	;
  height: 120px;
  width: 120px;
  top: 140px;
} */